<!DOCTYPE html>
<html data-ng-app="surveyApp">
<head>
    <meta charset="utf-8">
    <title>Survey Application</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <style>
        .formElem{
            width: 100%;
            color: dodgerblue;
        }
        .copyColor{
            color: dodgerblue;
        }
         th { /*cursor: pointer*/ }
  
    </style>
    
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
    <script src="./scripts/controllers/personRecController.js"></script>
</head>
  
<body data-ng-controller="addUserCtrl">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="page-header"><h1 class="copyColor">Survey Application</h1></div>
            <!-- Form to add records -->
            <form name="userForm" data-ng-submit="addRecords()" class="formElem">
                    <div class="form-group">
                        <label>User Name:</label>
                        <input class="form-control" name="uname" type="text" placeholder="Enter Name" data-ng-model="newName" required>
                    </div>
                    <div class="form-group">
                        <label>Login ID/Email:</label>
                       <input class="form-control" name="email" type="email" placeholder="Enter Valid Email" data-ng-model="newEmail" required>
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                       <input class="form-control" name="pass" type="password" placeholder="Enter Valid Password" data-ng-model="newPass" required>
                    </div>
                    <div class="form-group">
                        <label>Survey Status:</label>
                        <select class="form-control" name="status" type="text" data-ng-model="newStatus" required>                        
                            <option value="" selected disabled>Select Status</option>
                            <option value="Active">Active</option>
                            <option value="Inactive">Deactive</option>
                        </select>
                    </div>
                    <!--<div class="form-group">
                        <label>User Type</label>
                         <select class="form-control" name="userType" type="text" data-ng-model="newUtype" required>
                            <option value="" selected disabled>Select User Typel</option>
                            <option value="Motorola">Super User/Admin</option>
                            <option value="Samsung Galaxy">User/Organizer</option>
                            <option value="HTC">End User/Audiance</option>
                        </select>
                    </div>-->

                    <div class="form-group">
                        <label>Company Name:</label>
                       <input class="form-control" name="company" type="text" placeholder="Enter Valid Password" data-ng-model="newCompName" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Records</button>
                </form>
        </div>
    </div>
</body>
</html>